{% extends 'base.html' %}

{% block title %}Add Pill{% endblock %}

{% block body %}

<section class="mt-6"> 
    <h1 class="title">Add Pill</h1>
    <form action="/add_pill" method="POST">
        <div class="field">
            <label for="name" class="label">Name:</label>
            <input class="input is-rounded" style="width: max-content;" id="name" name="name" type="text" required/>
        </div>
        <div class="field">
            <label for="dosage" class="label">Dosage:</label>
            <input class="input is-rounded" style="width: max-content;" type="timtexte" id="time" name="dosage" required>
        </div>
        <button type="submit" class="button is-primary is-rounded mt-3">
            <span class="icon">
                <i class="fa-solid fa-plus"></i>
            </span> 
            <span>
                Add
            </span>
        </button>
    </form>
</section>

{% endblock %}