{% extends 'base.html' %}

{% block title %}Add Schedule{% endblock %}

{% block body %}
<section class="mt-6"> 
    <h1 class="title">Add Schedule</h1>
    <form action="/add_schedule" method="POST">
        <div class="fixed-grid">
            <div class="grid">
                <div class="cell">
                    <div class="field">
                        <label for="day" class="label">Day</label>
                        <div class="select is-rounded">
                            <select id="day" name="day" required>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                                <option value="Sunday">Sunday</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="field">
                        <label for="time" class="label">Time</label>
                        <input class="input is-rounded" style="width: max-content;" type="time" id="time" name="time" title="Enter time in 24-hour format (HH:MM)" required>
                    </div>
                </div>
                <div class="cell">
                    <div class="field">
                        <label for="pill" class="label">Pill</label>
                        <div class="select is-rounded">
                            <select id="pill" name="pill_id" required>
                                {% for pill in pills %}
                                    <option value="{{ pill.id }}">{{ pill.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="field">
                        <label for="quantity" class="label">Quantity</label>
                        <input class="input is-rounded" style="width: max-content;" type="number" id="quantity" name="quantity" value="1" min="1" required>
                    </div>
                </div>
            </div>
        </div>
        
        <button type="submit" class="button is-primary is-rounded mt-3">
            <span class="icon">
                <i class="fa-solid fa-plus"></i>
            </span> 
            <span>
                Add
            </span>
        </button>
    </form>
</section>
{% endblock %}