<!DOCTYPE html>
<html data-theme="light">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
  	<link href="https://fonts.googleapis.com/css?family=Droid+Serif|Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💊</text></svg>">
	<!-- Bulma -->
	<link
		rel="stylesheet"
		href="{{ url_for('static', filename='css/bulma.min.css') }}"
	>
	<!-- FontAwesome 5 -->
	<link
		rel="stylesheet"
		href="{{ url_for('static', filename='css/fontawesome.min.css') }}"
	>
	<link
		rel="stylesheet"
		href="{{ url_for('static', filename='css/solid.min.css') }}"
	>
	<link
		rel="stylesheet"
		href="{{ url_for('static', filename='css/brands.min.css') }}"
	>
	<!-- Socket -->
	<script src="{{ url_for('static', filename='scripts/socket.io.min.js') }}"></script>
	<!-- Chart.js -->
	<script src="{{ url_for('static', filename='scripts/chartjs/dist/chart.umd.js') }}"></script>
</head>

<body>

	<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="/">
				<span class="icon is-large">
					<i class="fa-solid fa-pills"></i>
				</span>
				<span class="logo-title">Pill Dispenser</span>
			</a>
			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>
		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-end">
				<a class="navbar-item" href="/">
					Dashboard
				</a>
				<a class="navbar-item" href="/team">
					Team
				</a>
				<a class="navbar-item is-hidden" href="/project">
					Project
				</a>

				<a class="navbar-item" onclick="toggleTheme()">
					<span class="icon">
						<i class="fa-solid" id="theme-icon"></i>
					</span>
				</a>

			</div>
		</div>
	</nav>

	<main id="container" class="container is-fluid">
	{% block body %}
	{% endblock %}
	</main>

	<div class="cover"></div>


	<footer class="footer">
		<div class="content has-text-centered">
			<p>
				Copyright © 2024 Pill Dispenser
				<br>
				Interactive Systems
			</p>
		</div>
	</footer>

	<script>
		// Socket
		const socket = io();

		socket.on('database_updated', function(data) {
			console.log(data.message);
			location.reload();
		});

		// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
		document.addEventListener('DOMContentLoaded', () => {
			const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

			if ($navbarBurgers.length > 0) {
				$navbarBurgers.forEach(el => {
					el.addEventListener('click', () => {
						const target = el.dataset.target;
						const $target = document.getElementById(target);

						el.classList.toggle('is-active');
						$target.classList.toggle('is-active');
					});
				});
			}

			// Apply the saved theme preference
			applySavedTheme();
		});

		// Apply the saved theme preference from localStorage
		function applySavedTheme() {
			const savedTheme = localStorage.getItem('theme') || 'light';
			document.documentElement.dataset.theme = savedTheme;
			updateThemeIcon();
		}

		// Theme toggle function
		function toggleTheme() {
			const currentTheme = document.documentElement.dataset.theme;
			const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
			document.documentElement.dataset.theme = newTheme;
			localStorage.setItem('theme', newTheme); // Save the new theme in localStorage
			updateThemeIcon();
		}

		// Update the theme icon
		function updateThemeIcon() {
			const currentTheme = document.documentElement.dataset.theme;
			const themeIcon = document.getElementById('theme-icon');
			if (currentTheme === 'dark') {
				themeIcon.classList.add('fa-sun');
				themeIcon.classList.remove('fa-moon');
			} else {
				themeIcon.classList.add('fa-moon');
				themeIcon.classList.remove('fa-sun');
			}
		}

	</script>

</body>
</html>
