{% extends 'base.html' %}

{% block title %}Edit Pill{% endblock %}

{% block body %}

<section class="mt-6"> 
    <h1 class="title">Add Pill</h1>
    <form action="/edit_pill/{{ pill.id }}" method="POST">
        <div class="field">
            <label for="name" class="label">Name:</label>
            <input class="input is-rounded" style="width: max-content;" type="text" id="name" name="name" value="{{ pill.name }}">
        </div>
        <div class="field">
            <label for="dosage" class="label">Dosage:</label>
            <input class="input is-rounded" style="width: max-content;" type="text" id="dosage" name="dosage" value="{{ pill.dosage }}">
        </div>
        <button type="submit" class="button is-primary is-rounded mt-3">
            <span class="icon">
                <i class="fa-solid fa-plus"></i>
            </span> 
            <span>
                Save Changes
            </span>
        </button>
    </form>
</section>

{% endblock %}
