{% extends 'base.html' %}

{% block title %}Team{% endblock %}

{% block body %}

<section class="mt-6"> 
    <h1 class="title">Team Members</h1>
    <p>
        This project represents the collective efforts of our dedicated team. Below, you will find descriptions of each team member's contributions and roles
    </p>

    <div class="is-flex is-justify-content-center mt-6 pl-6 pr-6" style="gap: 50px">
      <!-- Abdul Wahab -->
      <div class="card shadow-md is-cursor-pointer transform is-duration-300 hover-shadow-xl hover-translate-y raise team-card">
        <div class="card-image">
            <figure class="image">
                <img src="{{ url_for('static', filename='images/abdul.jpg') }}"
                    alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="content has-text-grey-light">
              <!-- center text -->
              <h3 class="has-text-centered">Abdul Wahab</h3>
            </div>
        </div>
    </div>
    <!-- Amir Farahani -->
    <div class="card shadow-md is-cursor-pointer transform is-duration-300 hover-shadow-xl hover-translate-y raise team-card">
      <div class="card-image">
          <figure class="image">
              <img src="{{ url_for('static', filename='images/amir.jpg') }}"
                  alt="Placeholder image">
          </figure>
      </div>
      <div class="card-content">
          <div class="content has-text-grey-light">
            <!-- center text -->
            <h3 class="has-text-centered">Amir Farahani</h3>
          </div>
      </div>
    </div>
    <!-- Lars Imbsweiler -->
    <div class="card shadow-md is-cursor-pointer transform is-duration-300 hover-shadow-xl hover-translate-y raise team-card">
      <div class="card-image">
          <figure class="image">
              <img src="{{ url_for('static', filename='images/lars.jpg') }}"
                  alt="Placeholder image">
          </figure>
      </div>
      <div class="card-content">
          <div class="content has-text-grey-light">
            <!-- center text -->
            <h3 class="has-text-centered">Lars Imbsweiler</h3>
          </div>
      </div>
    </div>
    <!-- Amit Saxena -->
    <div class="card shadow-md is-cursor-pointer transform is-duration-300 hover-shadow-xl hover-translate-y raise team-card">
      <div class="card-image">
          <figure class="image">
              <img src="{{ url_for('static', filename='images/amit.jpg') }}"
                  alt="Placeholder image">
          </figure>
      </div>
      <div class="card-content">
          <div class="content has-text-grey-light">
            <!-- center text -->
            <h3 class="has-text-centered">Amit Saxena</h3>
          </div>
      </div>
    </div>
    <!-- Amit Saxena -->
    <div class="card is-hidden shadow-md is-cursor-pointer transform is-duration-300 hover-shadow-xl hover-translate-y raise team-card">
      <div class="card-image">
          <figure class="image">
              <img src="{{ url_for('static', filename='images/amit.jpg') }}"
                  alt="Placeholder image">
          </figure>
      </div>
      <div class="card-content">
          <div class="content has-text-grey-light">
            <!-- center text -->
            <h3 class="has-text-centered">Amit Saxena</h3>
          </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}
